<!-- <ion-header>
	<ion-navbar>
		<ion-title>
			About
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h2>Photos</h2>
	<button ion-button color="dark" (click)="takePhoto()">Take Photo</button>
	<button ion-button color="dark" (click)="takePicture()">Take Picture</button>

	<div>
		<div><b>imageUrl</b></div>
		<div>{{ imageUrl }}</div>
		<br><br>
		<div><b>base64Image</b></div>	
		<div>{{ base64Image }}</div>
		<br><br>
		<div><b>captureDataUrl</b></div>	
		<div>{{ captureDataUrl }}</div>
		
	</div>

	<div>
		<div><b>error</b></div>
		<div>{{ error }}</div>
	</div>

	<h3>imageUrl</h3>
	<div><b>imageUrl</b></div>	
	<img [src]="imageUrl" *ngIf="imageUrl" />

	<h3>base64Image</h3>
	<div><b>base64Image</b></div>	
	<ion-img [src]="base64Image" *ngIf="base64Image"></ion-img>

	<h3>Desanitize</h3>
	<div><b>captureDataUrl</b></div>	
	<ion-img [src]="captureDataUrl" *ngIf="captureDataUrl"></ion-img>	
</ion-content> -->

<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Camera Firebase
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div style="display:flex; flex-direction:column;justify-content:center">
		<button ion-button (click)="capture()">Lets take a picture!</button>
		<img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
	</div>
</ion-content>